h1 {
	text-align:center;
}

h3 {
	text-align:center;
}

.boxes {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.box {
    border: 1px solid #000;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 200px;
    text-align: center;
    display: inline-block;
    display: block;
    text-align: center;
    position: relative;
}

.import-words {
	border: 1px solid #000;
	width: 500px;
}

.box-name {
    display: inline-block;
    margin: 0 auto;
    width: 100px;
    height: 20px;
    /* background: #00ff00; */
}

.dropdown {
    float: right;
    width: 20px;
    height: 20px;
    /* background: #0000ff; */
}

.three-dots {
    position: absolute;
    top: 5px;
    right: 0;
}

.dropdown-content {
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.error {
	color: red;
}

.left-side {
    float: left;
    width: 20px;
    height: 20px;
    /* background: #ff0000; */
}

.center {
	text-align: center;
}

.table-add-set {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.table-headers {
    text-align: center;
}

.table-words {
    text-align: center;
}

.words-list-header {
    text-align: left;
}